@import '../../../../styles/mixins/breakepoints';

.logoWrapper {
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    margin-bottom: 0;
  }
}

.logo {
  margin-top: -6px;
  margin-bottom: 16px;
  width: 62px;
  height: 71px;

  @include desktop {
    margin-top: -8px;
  }
}

.title {
  margin-bottom: 16px;
  color: var(--primaryBlueColor2);
  @include reducefont(18px);
}

.subtitle {
  @include reducefont(14px);
  color: var(--primaryBlueColor2);
}
