@import 'footer-breakpoints';

.logoWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-bottom: 36px;

  @include tablet {
    margin-bottom: 0;
  }
}

.logo {
  width: 62px;
  height: 71px;
  margin-top: -6px;
  margin-bottom: 16px;

  @include desktop {
    margin-top: -8px;
  }
}

.title {
  margin-bottom: 16px;

  color: var(--primaryBlueColor2);
  @include reducefont(18px);
}

.subtitle {
  color: var(--primaryBlueColor2);
  @include reducefont(14px);
}
