.title {
  margin-bottom: 16px;

  @media (width <= 480px) {
    margin-bottom: 5px;

    font-size: 24px !important;
  }
}

.subtitle {
  margin-bottom: 16px;

  color: var(--primaryBlueColor1);

  @media (width <= 480px) {
    margin-bottom: 5px;

    font-size: 16px !important;
  }
}

.border {
  margin-bottom: 32px;

  @media (width <= 480px) {
    margin-bottom: 16px;

    font-size: 24px !important;
  }
}

.info {
  display: flex;
  gap: 30px;

  margin-bottom: 64px;

  @media (width <= 768px) {
    flex-direction: column;
    gap: 24px;

    margin-bottom: 64px;
  }
}

.imageWrapper {
  flex-shrink: 0;

  width: 100%;
  max-width: 430.667px;

  border: 1px solid var(--secondaryGreyColor3);
  border-radius: 6px;

  img {
    width: 250px;
    object-fit: cover;

    margin: 67px 96px 61px 83px;

    @media (width <= 480px) {
      margin: 50px 0;
    }
  }

  @media (width <= 480px) {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
  }

  @media (width >= 481px) and (width <= 768px) {
    margin: 0 auto;
  }
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (width >= 481px) and (width <= 768px) {
    gap: 16px;
  }
}

.fullName {
  @media (width >= 481px) and (width <= 768px) {
    font-size: 24px !important;
  }
}
