.slider {
  display: flex;
  flex-direction: column-reverse;

  @media (max-width: 320px) {
    max-width: 320px;
    width: 100%;
  }
  @media (max-width: 480px) {
    max-width: 480px;
    width: 100%;
  }
  @media (min-width: 481px) and (max-width: 580px) {
    max-width: 580px;
    width: 100%;
  }
  @media (min-width: 581px) and (max-width: 768px) {
    max-width: 768px;
    width: 100%;
  }
}
