.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin-top: 21px;
  gap: 15px;
  @media (width <= 768px) {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.action {
  display: flex;
  align-items: center;
  gap: 5px;

  cursor: pointer;
}
