@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&family=Noto+Sans+Kawi:wght@500&family=Roboto:wght@100;400&display=swap');
// Объявляем миксин для стилей сброса
@mixin reset-styles {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    color: black;
  }
  
  .my-reset {
    @include reset-styles;
  }
  
  .flex {
    display: flex;
  }
  
  .page-wrapper {
    padding: 0 180px;
  }
  

  

 
  