@import 'https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&family=Noto+Sans+Kawi:wght@500&family=Roboto:wght@100;400&display=swap';

@mixin reset-styles {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: black;

  font-family: 'Montserrat Alternates', sans-serif;
}

.myReset {
  @include reset-styles;
}

.flex {
  display: flex;
}

.pageWrapper,
.container {
  padding: 0 180px;
}
