.feedbackContainer {
  margin-top: var(--xl3Spacing);
  padding: 0 var(--xsSpacing);

  @media (width >= 768px) {
    padding: 0 44px;
  }
  @media (width >= 1124px) {
    padding: 0;
  }
}

.flexContainer {
  @media (width >= 1100px) {
    display: flex;
    gap: 30px;
  }
}

.secondflex {
  display: flex;
  flex-direction: column;

  margin-top: 33px;
  @media (width >= 768px) {
    margin-top: var(--xl3Spacing);
  }
  @media (width >= 1100px) {
    margin-top: 0;
  }
}

.resultWraper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-bottom: 20px;
  @media (width >= 768px) {
    width: 400px;
    margin-bottom: var(--xl3Spacing);
  }
}

.result {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: var(--mdSpacing);
}

// .progress {

// }

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 5px;

  color: #fff;

  border-radius: 8px;

  background-color: #251add;
  gap: 5px;
}

.btnIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.btnWraper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: var(--smSpacing);

  @media (width >= 768px) {
    margin-bottom: var(--mdSpacing);
  }
}

.supportWraper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  margin-bottom: var(--xl3Spacing);
  gap: var(--smSpacing);

  @media (width >= 768px) {
    flex-direction: row;
  }
}
