:root {
  --primaryBlueColor1: #039CFD;
  --primaryBlueColor2: #251ADD;
  --primaryBlueColor3: #120B8F;
  --primaryBlueColor4: #01194F;
  --primaryBlueColor5: #0E171C;
  --secondaryGreyColor1: #2C2C2C;
  --secondaryGreyColor2: #121212;
  --secondaryGreyColor3: #514F4F;
  --defaultWhite: #FFF;
  --defaultBlack: #000;
}
