:root {
  --primary1: #4b5354;
  --primaryDark1: #313637;
  --primaryLight1: #6e7b7d;
  --primaryColor2: #2e31bf;
  --primaryDark2: #181a90;
  --primaryLight2: #599aed;
  --secondary1: #000010;
  --secondaryDark1: #00000b;
  --secondaryLight1: #020232;
  --secondary2: #1bffff;
  --secondaryDark2: #0dbdbd;
  --secondaryLight2: #93ffff;
  --secondary3: #e9edef;
  --secondaryDark3: #afb0b1;
  --secondaryLight3: #eef3f6;
  --activeButton: #2e3192;
  --backlight: #21236e;
  --defaultWhite: #ffffff;
  --defaultBlack: #000000;
}
