:root {
  --base-spacing: 8px;
  --xs-spacing: 16px;
  --sm-spacing: 24px;
  --md-spacing: 32px;
  --lg-spacing: 40px;
  --xl-spacing: 48px;
  --2xl-spacing: 56px;
  --3xl-spacing: 64px;
  --4xl-spacing: 72px;
  --5xl-spacing: 80px;
  --6xl-spacing: 88px;
  --7xl-spacing: 96px;
}
