:root {
  --baseSpacing: 8px;
  --xsSpacing: 16px;
  --smSpacing: 24px;
  --mdSpacing: 32px;
  --lgSpacing: 40px;
  --xlSpacing: 48px;
  --xl2Spacing: 56px;
  --xl3Spacing: 64px;
  --xl4Spacing: 72px;
  --xl5Spacing: 80px;
  --xl6Spacing: 88px;
  --xl7Spacing: 96px;
}
