{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-prettier",
    "stylelint-prettier/recommended",
    "stylelint-order-config-standard"
  ],
  "plugins": [
    "stylelint-prettier",
    "stylelint-order"
  ],
  "rules": {
    "custom-property-pattern": "^[a-zA-Z][a-zA-Z0-9]*$",
    "selector-class-pattern": "^[a-zA-Z][a-zA-Z0-9]*$",
    "prettier/prettier": true
  }
}


