.button {
  display: flex;
  align-items: center;
  background: none;
  cursor: pointer;
}

.button.sm {
  gap: 4px;
  height: 40px;
}

.button.md {
  gap: 8px;
  height: 44px;
}

.button.lg {
  gap: 8px;
  height: 49px;
}

.outlined {
  border-radius: 30px;
  border: 1px solid var(--secondaryGreyColor1);
}

.valueWithLabel {
  display: flex;
  flex-direction: column;

  .label {
    text-align: start;
  }

  .value {
    padding: 0 10px 0 0;
  }
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
}

.iconWrapper.sm {
  width: 40px;
  height: 40px;
}

.iconWrapper.md,
.iconWrapper.lg {
  width: 44px;
  height: 44px;
}

.blue {
  background-color: var(--primaryBlueColor2);
}

.black {
  background-color: var(--secondaryGreyColor1);
}

.blueColor {
  color: var(--primaryBlueColor2);
}

.value.sm {
  padding: 11.5px 8px 11.5px 0;
}

.value.md {
  padding: 13px 13px 13px 0;
}
