.swiperContainer {
  display: flex;
  gap: var(--xsSpacing);

  flex-direction: column;


  margin-bottom: var(--mdSpacing);



  @media (width >= 768px) {
    display: flex;
    gap: var(--mdSpacing);

    flex-direction: column;
  }
}

.sliderWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnNavigation {
  position: absolute;
  top: 30px;
  right: 20px;

  @media (width >= 768px) {
    position: absolute;
    top: 15px;
    right: 46px;
  }

  @media (width >= 1124px) {
    position: absolute;
    top: 15px;
    right: 0;
  }
}
