.hero {
  position: relative;
  margin-bottom: 64px;
}
.uaMap {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
}

.title {
  padding-top: 146px;
  margin-bottom: 70px;
  text-align: center;
  color: var(--primaryBlueColor1);
  span {
    color: var(--defaultWhite);
  }
}

.info {
  max-width: 620px;
  width: 100%;
  .description {
    margin-bottom: 32px;
    color: var(--primaryBlueColor1);
  }
}

.actions {
  display: flex;
  gap: 38px;
}
