.partners {
  margin-bottom: 64px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 16px;
}

.navButtons {
  margin: 0;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 38px;
}
