/* Style for Section Partners */
.partners {
  flex-direction: column;
  row-gap: 16px;

  margin-bottom: 64px;

  &-items {
    align-items: center;
    justify-content: space-between;
  }

  .btnBlock {
    column-gap: 5px;
  }

  &-items__title {
    color: #2c2c2c;

    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
  }

  .swiper {
    // стили для .swiper
  }

  &-slider {
    // стили для .partners-slider
  }

  .swiperContainer {
    column-gap: 24px;
  }

  .swiperSlide {
    padding: 24px 34px;

    border: 1px solid #514f4f;

    &__poster {
      // стили для .swiper-slide__poster
    }
  }
}
