@import 'fonts';
@import 'reset';
@import 'variables';

* {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
}
html,
body {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

main {
  flex-grow: 1;
}

.layout-css {
  display: flex;
  flex-direction: column;
}
