@import 'fonts';
@import 'reset';
@import 'variables';

* {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
}

.container {
  @media (min-width: 1440px) {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 24px;
  }
  @media (min-width: 1025px) and (max-width: 1440px) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 24px;
    padding: 0 132px;
  }
  @media (min-width: 769px) and (max-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 24px;
    padding: 0 84px;
  }
  @media (min-width: 376px) and (max-width: 768px) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
    padding: 0 44px;
  }
  @media (max-width: 375px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
    padding: 0 15px;
  }
}
