@import 'fonts';
@import 'reset';
@import 'variables';

* {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
