.department {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 30px;
}
.info {
  max-width: 342px;
  width: 100%;
  flex-shrink: 0;
}

.title {
  color: var(--primaryBlueColor1);
  margin-bottom: 24px;
}
