.header {
  align-items: center;
  justify-content: space-between;

  &-info {
    flex-direction: column;

    width: 530px;
    row-gap: 16px;

    &__title {
      text-transform: uppercase;

      color: #039CFD;

      font-size: 52px;
      font-weight: 700;
      font-style: normal;
      line-height: normal;
    }

    &__subtitle {
      color: #039CFD;

      font-size: 32px;
      font-weight: 400;
      font-style: normal;
      line-height: normal;
    }

    &__description {
      color: #2C2C2C;

      font-size: 20px;
      font-weight: 400;
      font-style: normal;
      line-height: 36px;
    }
  }

  &-img {
    flex-basis: 40%;
  }
}
