.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 31px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(81, 79, 79, 0.2);

  @media (max-width: 768px) {
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  @media (min-width: 769px) {
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
}
.logo {
  width: 62px;
  height: 71px;
  margin-right: auto;
  @media (max-width: 480px) {
    width: 40px;
    height: 46px;
  }
  @media (min-width: 481px) and (max-width: 768px) {
    width: 50px;
    height: 56px;
  }
  @media (min-width: 993px) {
    margin-right: 0;
  }
}
.navigation {
  display: flex;
  align-items: center;
  gap: 24px;

  @media (max-width: 992px) {
    display: none;
  }
  @media (min-width: 993px) and (max-width: 1080px) {
    gap: 12px;
    .link {
      h7 {
        font-size: 12px;
      }
    }
  }
}

.buttonTel {
  display: none;
  @media (min-width: 565px) {
    display: flex;
  }
}
.buttonSupport {
  @media (max-width: 374px) {
    display: none;
  }
}

.burger {
  display: none;
  @media (max-width: 992px) {
    display: block;
  }
}
