.langSwitcher {
  display: flex;
  align-items: center;
  gap: 5px;

  button {
    cursor: pointer;
  }
}

.decore {
  width: 15px;
  height: 1px;

  content: '';
  transform: rotate(90deg);

  background-color: var(--secondaryGreyColor1);
}
