@import 'main-breakpoints';

.hero {
  display: flex;
  justify-content: space-between;

  padding-top: 50px;

  @include desktop {
    flex-direction: column;
  }
}

.need {
  max-width: 620px;
  padding: 48px 90px 48px 68px;

  border-radius: 8px;
  background-image: url('../image/bg-help.png');
  background-repeat: no-repeat;
  background-size: cover;

  h3 {
    color: #120b8f;
  }

  p {
    color: #120b8f;

    line-height: 120%;
  }

  .border {
    height: 2px;
    margin: 21px 0;

    opacity: 0.2;
    border-radius: 8px;
    background: #120b8f;
  }

  @include desktop {
    width: 100%;
    max-width: 100%;
    margin-bottom: 32px;
  }

  @include tablet {
    padding: 25px 36px;
  }
}

.help {
  width: fit-content;
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 24px;

  grid-template-columns: repeat(2, 1fr);

  @include desktop {
    margin-inline: auto;
    grid-template-columns: repeat(4, 1fr);
  }

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }
}

