.hero {
  display: flex;
  justify-content: space-between;

  padding-top: 50px;

  @media (width <= 1040px) {
    flex-direction: column;
  }
}

.need {
  max-width: 620px;
  padding: 48px 90px 48px 68px;

  border-radius: 8px;
  background-image: url("../image/bg-help.png");
  background-repeat: no-repeat;
  background-size: cover;

  h3 {
    color: #120b8f;
  }

  p {
    color: #120b8f;

    line-height: 120%;
  }

  .border {
    height: 2px;
    margin: 21px 0;

    opacity: 0.2;
    border-radius: 8px;
    background: #120b8f;
  }

  @media (width <= 1040px) {
    width: 100%;
    max-width: 100%;
    margin-bottom: 32px;
  }

  @media (width <= 767px) {
    padding: 25px 36px;
  }
}

.help {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 24px;

  @media (width <= 1040px) {
    justify-content: center;
  }
}
