.wrapper {
  overflow: hidden;
  max-width: 1440px;
  margin: var(--mdSpacing) auto;
}

.border {
  margin-top: var(--xsSpacing);
}

.slider {
  width: 713px;
  overflow: visible !important;
  position: relative;

  @media (max-width: 1024px) {
    width: 550px;
  }

  @media (max-width: 640px) {
    width: auto;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

.wraperTitle {
  position: absolute;
  bottom: var(--xl5Spacing);
  left: var(--smSpacing);
  z-index: 10;
}

.titleVideo {
  color: var(--defaultWhite);
  margin-bottom: var(--xsSpacing);
  @media (max-width: 640px) {
    font-size: var(--mdSpacing);
  }
}

.btn {
  color: var(--defaultWhite);
}
