.button {
  display: flex;
  align-items: center;

  cursor: pointer;

  background: none;
}

.button.sm {
  gap: 4px;

  height: 40px;
}

.button.md {
  gap: 8px;

  height: 44px;
}

.button.lg {
  gap: 8px;

  height: 49px;
}

.outlined {
  border: 1px solid var(--secondaryGreyColor1);
  border-radius: 30px;
}

.valueWithLabel {
  display: flex;
  flex-direction: column;

  .label {
    text-align: start;
    margin-bottom: 4px;
  }

  .value {
    padding: 0 10px 0 0 !important;
  }
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 60px;
}

.iconWrapper.sm {
  width: 40px;
  height: 40px;
}

.iconWrapper.md,
.iconWrapper.lg {
  width: 44px;
  height: 44px;
}

.blue {
  background-color: var(--primaryBlueColor2);
}

.black {
  background-color: var(--secondaryGreyColor1);
}

.gray {
  background-color: var(--secondaryGreyColor3);
}

.blueColor {
  color: var(--primaryBlueColor2);
}

.value.sm {
  padding: 11.5px 8px 11.5px 0;
}

.value.md {
  padding: 13px 13px 13px 0;
}

.blueText {
  color: var(--primaryBlueColor2) !important;
}

.blackText {
  color: var(--secondaryGreyColor1) !important;
}

.grayText {
  color: var(--secondaryGreyColor3);
}
