.cart {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 344px;
  gap: 24px;
}

.image {
  width: 344px;
  height: 172px;

  border-radius: 8px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ended {
  opacity: 0.5;
}
