.menu {
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: linear-gradient(
      180deg,
      rgba(27, 255, 255, 0.8) 0px,
      rgba(27, 255, 255, 0) 6.32px
    ),
    var(--defaultWhite);

  padding: 10px;
}

.menuLink {
  width: auto;
  display: inline-block;
  white-space: nowrap;
  position: relative;
  z-index: 99;
  padding: 8px 4px;
  color: var(--primary1);
  font-size: 16px;
  @media (max-width: 1219px) {
    font-size: 14px;
  }
  font-weight: 600;
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 0;
    height: 1px;
    background: var(--secondary2);
    transition: width 0.3s;
  }

  &:hover::after {
    width: 100%;
    transition: width 0.3s;
  }
}
