@import '../../../../styles/mixins/breakepoints';

.socialsWrapper {
  @include desktop {
    margin-top: 10px;
    margin-left: auto;
  }
}

.title {
  @include reducefont(14px);
}

.list {
  display: flex;
  justify-content: space-between;

  margin-top: 16px;
  padding: 8px 16px;
}

.logo {
  height: 16px;
}
