.navigationLink {
  position: relative;
  display: flex;
  flex-direction: column;
}
.subMenu {
  margin-top: 5px;
  width: max-content;
  position: absolute;
  top: 100%;
  left: -10%;
  transition: all 0.3s;
  scale: 0;
  opacity: 0;
  height: 0;
  z-index: -1;
}

.visible {
  height: auto;
  z-index: 99;
  opacity: 1;
  scale: 1;
  transition: all 0.3s;
}

.link {
  position: relative;
  z-index: 99;
  padding: 8px 4px;
  color: var(--secondary3);
  font-size: 16px;
  @media (max-width: 1219px) {
    font-size: 14px;
  }
  font-weight: 600;
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 0;
    height: 1px;
    background: var(--secondary2);
    transition: width 0.3s;
  }

  &:hover::after {
    width: 100%;
    transition: width 0.3s;
  }
}
