.direction {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 32px;

  .direction__left {
    max-width: 712px;
  }

  .title {
    margin-bottom: 32px;

    @media (width <= 767px) {
      margin-bottom: 32px;

      font-size: 24px;
    }
  }

  .subtitle {
    margin-bottom: 24px;

    @media (width <= 767px) {
      margin-bottom: 16px;

      font-size: 18px;
    }
  }

  .text {
    margin-bottom: 32px;

    @media (width <= 767px) {
      font-size: 14px;
    }
  }

  .wrap__btns {
    display: flex;

    button:first-of-type {
      margin-right: 38px;
    }

    @media (width <= 767px) {
      margin-bottom: 32px;
    }
  }

  @media (width <= 1040px) {
    align-items: flex-start;
    flex-direction: column;
  }
}
