:root {
  --primaryBlueColor1: #039cfd;
  --primaryBlueColor2: #251add;
  --primaryBlueColor3: #120b8f;
  --primaryBlueColor4: #01194f;
  --primaryBlueColor5: #0e171c;
  --secondaryGreyColor1: #2c2c2c;
  --secondaryGreyColor2: #121212;
  --secondaryGreyColor3: #514f4f;
  --defaultWhite: #fff;
  --defaultBlack: #000;
  --questionColorBgr: #e9edef;
  --questionColor: #4b5354;
}
