.ourTeam {
  margin-bottom: 64px;
}

.title {
  margin-bottom: 16px;
  @media (width <= 480px) {
    font-size: 24px !important;
    margin-bottom: 5px;
  }
}

.border {
  @media (width <= 480px) {
    margin-bottom: 24px;
  }
  @media (width >= 481px) and (width <= 580px) {
    margin-bottom: 24px;
  }
  @media (width >= 581px) and (width <= 768px) {
    margin-bottom: 24px;
  }
}
