.test {
  position: relative;
  top: 0;
  left: 0;

  display: flex;

  width: 100%;
}

.formInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;

  width: 100%;
  max-width: 276px;
  gap: 16px;

  @media (width <= 768px) {
    margin: 0 auto;
  }
}

.input {
  width: 100%;
  padding: 10px 10px 10px 20px;

  border: 1px solid var(--secondaryGreyColor1);
  border-radius: 60px;
  outline: none;

  font-size: 16px;
  font-weight: 400;
  line-height: 120%;

  &::placeholder {
    opacity: 0.6;
  }
}

.inputWrapper {
  flex-shrink: 0;

  width: 100%;
  max-width: 276px;
}

.textarea {
  height: 172px;

  resize: none;

  border-radius: 30px;
}

.error {
  padding-top: 10px;

  color: red;

  font-size: 12px;
}
