.prevButton {
  position: absolute;
  top: 56px;
  left: 0;
  z-index: 999;
}
.nextButton {
  position: absolute;
  top: 56px;
  z-index: 999;
  right: 0;
}

.prevButton,
.nextButton {
  cursor: pointer;
  background: none;
}
