.h1 {
  font-size: 40px;
}

.h2 {
  font-size: 32px;
}

.h3 {
  font-size: 28px;
}

.h4 {
  font-size: 24px;
}

.h5 {
  font-size: 20px;
}

.h6 {
  font-size: 16px;
}

.h7 {
  font-size: 14px;
}

.h8 {
  font-size: 10px;
}

.p {
  font-size: 16px;
}

.semiBold {
  font-weight: 600;
}

.regular {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.body {
  font-size: 16px;
  line-height: 120%;
}

.lead {
  font-size: 20px;
  line-height: 180%;
}

.h1.large {
  font-size: 52px;
}

.h2.large {
  font-size: 48px;
}

.h3.large {
  font-size: 40px;
}

.h4.large {
  font-size: 32px;
}
