.test {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  width: 300px;
}

.form {
  display: flex;

  margin-bottom: 64px;
  padding: 33px 93px 32px 92px;

  border: 5px solid rgb(37 26 173 / 20%);
  gap: 91px;

  @media (width <= 480px) {
    flex-direction: column;

    padding: 33px 17px;
    gap: 0;
  }

  @media (width >= 481px) and (width <= 768px) {
    position: relative;

    flex-direction: column;

    padding: 33px 17px;
    gap: 0;
  }

  @media (width >= 769px) and (width <= 877px) {
    padding: 30px;
    gap: 0;
  }

  @media (width >= 878px) and (width <= 1024px) {
    justify-content: space-between;

    padding: 35px;
    gap: 0;
  }
}

.info {
  flex-shrink: 0;

  width: 100%;
  max-width: 528px;

  .title {
    margin-bottom: 16px;

    @media (width <= 480px) {
      font-size: 20px !important;
    }

    @media (width >= 769px) and (width <= 877px) {
      font-size: 22px !important;
    }
  }

  .subtitle {
    margin-bottom: 87px;

    @media (width <= 480px) {
      width: 100%;
      max-width: 197px;
      margin-bottom: 84px;

      font-size: 14px !important;
    }

    @media (width >= 481px) and (width <= 768px) {
      margin-bottom: 20px;
    }

    @media (width >= 769px) and (width <= 877px) {
      margin-bottom: 20px;
    }

    @media (width >= 878px) and (width <= 1024px) {
      margin-bottom: 50px;
    }
  }

  @media (width <= 480px) {
    position: relative;
  }

  @media (width >= 769px) and (width <= 877px) {
    max-width: 350px;
    margin-right: auto;
  }

  @media (width >= 878px) and (width <= 1024px) {
    max-width: 450px;
  }
}

.ua {
  position: relative;

  img {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 5%;

    width: 296.3px;
    height: 228px;

    @media (width <= 480px) {
      width: 143px;
      height: 110px;
    }

    @media (width >= 481px) and (width <= 768px) {
      position: absolute;
    }

    @media (width >= 878px) and (width <= 1024px) {
      width: 296.3px;
      height: 228px;
    }

    @media (width >= 878px) and (width <= 1024px) {
      left: 50%;

      transform: translateX(-50%);
    }
  }

  .uaTitle {
    color: var(--primaryBlueColor1);

    span {
      color: var(--defaultWhite);
    }

    @media (width <= 480px) {
      position: absolute;
      top: 50%;
      left: 50%;

      width: 100%;
      padding-top: 0;

      transform: translate(-50%, -55%);
      text-align: center;

      color: var(--defaultWhite);

      font-size: 10px !important;
    }

    @media (width >= 481px) and (width <= 768px) {
      position: absolute;
      top: 43%;
      right: 18%;

      transform: translateY(-50%);

      font-size: 14px !important;
    }

    @media (width >= 769px) and (width <= 877px) {
      position: absolute;
      top: 43%;
      right: 10%;

      transform: translateY(-50%);

      font-size: 16px !important;
    }

    @media (width >= 878px) and (width <= 1024px) {
      position: absolute;
      top: 43%;
      right: 22%;

      transform: translateY(-50%);

      font-size: 16px !important;
    }
  }

  @media (width <= 480px) {
    position: absolute;
    right: 0;
    bottom: 10%;

    width: 143px;
    height: 110px;
  }

  @media (width >= 481px) and (width <= 768px) {
    position: absolute;
    top: 0;
    right: 0;

    width: 296.3px;
    height: 228px;
  }

  @media (width >= 769px) and (width <= 877px) {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 228px;
  }

  @media (width >= 878px) and (width <= 1024px) {
    height: 228px;
  }
}
