.item {
  @media screen and (min-width: 768px) {
    min-width: 332px;
  }

  @media screen and (min-width: 1440px) {
    min-width: 528px;
  }
}

.video {
  padding-bottom: 32px;
}

.description {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  gap: 18px;

  margin-bottom: 32px;
  padding-bottom: 37px;

  @media screen and (min-width: 768px) {
    padding-bottom: 0;

    gap: 16px;
  }
}

.title {
  color: var(--defaultBlack);

  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}

.text {
  color: var(--defaultBlack);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
  overflow: hidden;

  height: 153px;

  @media screen and (min-width: 768px) {
    font-size: 16px;

    height: 190px;
  }

  @media screen and (min-width: 1124px) {
    height: 114px;
  }
}

.all_button_box {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.button_box {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media screen and (min-width: 1440px) {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}

.like_message_box {
  display: flex;
  align-items: center;
  gap: 15px;
}

.like_box,
.message_box {
  display: flex;
  align-items: center;
  gap: 5px;
}

.like_button,
.message_button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  padding: 0;
}

.like_count,
.message_count {
  color: var(--new-black);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}
