.title {
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  text-align: center;

  &:not(:last-of-type) {
    flex-grow: 1;
  }

  border: 1px solid #039cfd;
  border-radius: 8px;

  @media (width <= 767px) {
    font-size: 14px;
  }
}

