.cart {
  display: flex;
  flex-direction: column;

  width: 100%;

  max-width: 344px;
  gap: 24px;
}

.image {
  width: 344px;
  height: 172px;

  border-radius: 8px;
}

.buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;

  justify-content: space-between;
  @media (width <= 1024px) {
    align-self: flex-start;
    flex-direction: column;
    gap: 20px;
  }
}

.ended {
  opacity: 0.5;
}

.result {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 7px;
}

.progress {
  margin-bottom: 10px;
}
