@import 'footer-breakpoints';

.equipment {
  padding-top: 64px;

  .title {
    margin-bottom: 24px;

    @media (width <= 767px) {
      margin-bottom: 40px;

      font-size: 24px;
    }
  }

  .wrap__equipment {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 16px;

    margin-bottom: 32px;
  }
}

