.item {
  display: inline-flex;
  align-items: flex-start;
  flex-direction: column;

  padding: 20px;

  background-color: var(--questionColorBgr);
  gap: var(--smSpacing);
}

.name {
  color: var(--feedbackColorTxt);

  font-size: var(--xsSpacing);
  font-weight: 600;
}

.message {
  color: var(--feedbackColorTxt);

  font-size: var(--xsSpacing);

  line-height: 120%;
}
